.header
{
text-align: center;
margin-left: -15px;
margin-top: -10px;
height: 120px;
width: 1280px;
font-size: 30px;
background-color: #F0F0F0;
}

.logo-img
{
position: relative;
margin-top: -1000px;
margin-right: -10px;
width: 100px;
height: 100px;
}

.but1
{
border: solid;
width: 300px;
height: 300px;
opacity: .8;
font-size: 36px;
}

.but2
{
border: solid;
width: 300px;
height: 300px;
opacity: .8;
font-size: 36px;
}

.but3
{
border: solid;
width: 300px;
height: 300px;
opacity: .8;
font-size: 36px;
}

.but4
{
border: solid;
width: 300px;
height: 300px;
opacity: .8;
font-size: 36px;

}

.but5
{
border: solid;
width: 300px;
height: 300px;
opacity: .8;
font-size: 36px;
}

.but6
{
border: solid;
width: 300px;
height: 300px;
opacity: .8;
font-size: 36px;
}

.but7
{
border: solid;
width: 300px;
height: 300px;
opacity: .8;
font-size: 36px;
}

.but8
{
border: solid;
width: 300px;
height: 300px;
opacity: .8;
font-size: 36px;
}